/* Type Selectors */

* {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    box-sizing: border-box;
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    display: flex;
    gap: 8px;
    margin: 0;
    padding: 0;
    overflow: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    text-align: justify;
    max-width: 100%;
}

h1 {
    margin: 0;
    padding: 0;
}



/* HEADER START */

.header {
    background-color: #3E527A;
    color: azure;
    display: flex;

    padding-bottom: 16px;
}

.spacer-h {
    min-width: 0;
    flex: 1 1 auto;
}

.inside-h {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    gap: 24px;
}

.header-logo{
    height: 64px;
    width: 64px;
    flex-shrink: 0;
    
}


.my-photo {
    height: auto;
    width: 400px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;

    font-size: 16px;
    font-weight: bold;

}

.header-content {
    display: flex;
    padding: 16px;
    gap: 24px;
    
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    background-color: rgba(99, 107, 122, 0.35);
    border-radius: 15px;

}

.information {
    width: 400px;
    height: auto;
}

/* HEADER END */

.container{
    flex-grow: 1; 
}
