/* FOR PHONE SETTINGS */
@media screen and (max-width: 480px) {
    /* Header */
    .header {
        flex-direction: column;
    }
    .inside-h {
        flex-direction: column;
        align-items: center;
    }
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8px 0;
        gap: 40px;
    }
    .header-logo {
        height: 48px;
        width: 48px;
        margin-bottom: 8px;
    }
    .my-photo {
        width: 80%;
        height: auto;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .information {
        width: 80%;
    }
    .header-content {
        padding: 8px;
        gap: 8px;
        width: 90%;
    }
}